.dashboard{
    background-image: url("../components/images/keyboard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 350px;
  }
.dash-header {
    font-size: 40px;
    font-weight: bolder;
    color:antiquewhite;
    padding: 40px;
}

