.home-header{
  padding-top: 80px;
  color:antiquewhite;
  font-size:50px;
  font-weight: bolder;
  font-style: italic;
}

.App {
  background-image: url("../components/images/keyboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.time {
  color: antiquewhite;
  font-size:50px;
  font-weight: bolder;
}

.resulthead{
  color: antiquewhite;
  font-size: 30px;
}