.header{
  padding-top: 80px;
  color:antiquewhite;
  font-size:50px;
  font-weight: bolder;
  font-style: italic;
}

.App {
  background-color: rgb(65, 6, 62);
}

.time {
  color: antiquewhite;
}

.resulthead{
  color: antiquewhite;
  font-size: 30px;
}